@import "tailwindcss";

@theme {
  --color-pryClr: #796fab;
  --color-secClrWhite: #eff6f8;
  --color-secClrBlack: #282828;
  --color-accClrYellow: #e5aa2d;
  --color-accClrPink: #e487bc;
}

@font-face {
  font-family: 'Ttnorm';
  src: url('./assets/fonts/TTNorms-ExtraBoldItalic.otf') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Ttnorm2';
  src: url('./assets/fonts/TTNorms-Medium.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
  background-image: linear-gradient(rgb(6, 0, 0), rgb(6, 0, 0)), url(${image})
}
