@import "tailwindcss";

@font-face {
  font-family: 'Ttnorm';
  src: url('./assets/fonts/TTNorms-ExtraBoldItalic.otf') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Ttnorm2';
  src: url('./assets/fonts/TTNorms-Medium.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ttnorm', sans-serif;
}

body {
  font-family: 'Ttnorm2', sans-serif !important;
}



@theme {
  --color-pryClr: #796fab;
  --color-secClrWhite: #eff6f8;
  --color-secClrBlack: #282828;
  --color-accClrYellow: #e5aa2d;
  --color-accClrPink: #e487bc;
}

@font-face {
  font-family: 'Ttnorm';
  src: url('./assets/fonts/TTNorms-ExtraBoldItalic.otf') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Ttnorm2';
  src: url('./assets/fonts/TTNorms-Medium.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
